{{!-- NAV PARTIAL --}}
{{> nav}}
{{!-- HERO PARTIAL --}}
{{> hero}}

{{!-- Posts --}}
{{#if showPlus}}
{{{makeNewPostButton}}}
{{/if}}
{{#if posts}}
<section class="recent">
    <h1 class="recent__header">Recent Posts...</h1>
    {{#each posts}}
    <div class="blog-card">
        {{#if ../showEdit}} {{{makeEditPostButton _id}}} {{/if}}
        <div class="blog-card__thumbnail">
            <img src="./uploads/{{thumbnail}}" alt="" />
        </div>
        <div class="blog-card__info">
            <div class="blog-card__info__header">
                <div class="profile-picture">
                    <img src="../images/me.JPG" alt="" />
                </div>
                <div class="name-date">
                    <cite>{{author}}</cite>
                    <cite>{{formatDate createdAt 'MMMM Do, YYYY'}}</cite>
                </div>

            </div>
            <div class="blog-card__title">
                <h3><a href='/blog/{{slug}}'>{{header}}</a></h3>
                <h5>{{subHeader}}</h5>
            </div>
            <div class="blog-card__preview">
                <p>
                    {{stripTagsAndTruncate sanitizedHtml 30 }}
                </p>
            </div>
            <div class="divider"></div>
            <div class="blog-card__footer">
                <div class="heart">
                    <p>Like this post!</p>
                    <form action="/blog/{{slug}}?_method=PUT" method="POST">
                        {{likes}} <button type="submit">🔥</button>
                    </form>
                </div>
                <div class="views">
                    <p>{{viewCount}} <i class="far fa-eye"></i></p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</section>
{{else}}
<section class="recent">
    <h1>No Recent Posts...</h1>
</section>
{{/if}}
{{!-- END Posts --}}

{{!-- FOOTER PARTIAL --}}
{{> footer}}