{{!-- NAV PARTIAL --}}
{{> nav}}
{{!-- HERO PARTIAL --}}
{{> hero}}
{{!-- If I'm logged in, show the add new post button --}}
{{#if showPlus}}
{{{makeNewPostButton}}}
{{/if}}
<header class="blog-header">
    {{#if showDelete}}
    <form action="/blog/delete/{{post._id}}?_method=DELETE" method="POST">
        <button type='submit' class="btn-red"><i class="fa fa-trash-o" aria-hidden="true"></i>
            Delete Post</button>
        {{#if showEdit}}
        <a href="/blog/edit/{{post._id}}" class="edit-btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            Edit
            Post</a>
        {{/if}}
        {{/if}}
    </form>
</header>
<section class="blog-post">
    <div class="blog-post__headers">
        <h1 class="blog-post__heading">{{post.header}}</h1>
        <h2 class="blog-post__sub-header">{{post.subHeader}}</h2>
        <div class="name-date"><cite>By {{post.author}} on {{formatDate post.createdAt 'MMMM Do, YYYY'}}</cite></div>
    </div>
    {{{post.sanitizedHtml}}}
</section>
{{!-- FOOTER PARTIAL --}}
{{> footer}}